.hero-img {
  height: calc(100vh - 60px);
  padding: 4rem 2rem;
  text-align: center;
  background: linear-gradient(to bottom, #064e3b, #047857);
  color: #ffffff;
  background-image: url("../../assets/velho.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}


.descricao-img{
  position: absolute;
  top: 2rem;      
  right: 10rem;    
  z-index: 50;
  width: 200px;
  height: auto;
  background: none;
}


/* Para tablets */
@media (max-width: 900px) {
  .hero-img {
    height: 50vh;
    padding: 2rem 1rem;
  }
}

/* Para smartphones */
@media (max-width: 600px) {
  .hero-img {
    height: 30vh;
    padding: 1rem 0.5rem;
  }
}
