.site-header {
  position: sticky;
  top: 0;
  z-index: 1000;

  background-color: #064e3b;/* Cor #064e3b com 80% opacidade */
  backdrop-filter: blur(10px); /* Efeito de desfoque no fundo */
  -webkit-backdrop-filter: blur(10px); /* Suporte para Safari */

  padding: 1rem 2rem;
  color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.site-nav {
  display: flex;
  gap: 60px;
  justify-content: center;
  align-items: center;
}

.site-header a {
  color: #ffffff; /* cor do texto */
  text-decoration: none; /* remove o sublinhado *//* deixa o texto em negrito */
  font-size: 16px;
}

.button-link-header {
  background-color: #facc15;
  color: #1f2937;
  font-weight: bold;
  padding: 0.75rem 1.5rem;
  border-radius: 9999px;
  text-decoration: none;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}