.site-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px; /* ajuste conforme necessário */
  background-color: rgb(18, 158, 100);
}

.site-nav {
  display: flex;
  gap: 60px;
  justify-content: center;
  align-items: center;
}

.site-header a {
  color: #ffffff; /* cor do texto */
  text-decoration: none; /* remove o sublinhado *//* deixa o texto em negrito */
  font-size: 20px;
}