body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
}

.site-container {
  width: 100%;
  overflow-x: hidden;
  background: linear-gradient(to bottom, #065f46, #10b981);
  color: white;
  min-height: 100vh;
}


.icon {
  width: 1.25rem;
  height: 1.25rem;
}
